<%= form_with(model: teachers_cohort, local: true) do |form| %>
  <% if teachers_cohort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teachers_cohort.errors.count, "error") %> prohibited this teachers_cohort from being saved:</h2>

      <ul>
      <% teachers_cohort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Teacher_ID %>
    <%= form.number_field :Teacher_ID %>
  </div>

  <div class="field">
    <%= form.label :Student_ID %>
    <%= form.number_field :Student_ID %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
