<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher id:</strong>
  <%= @teacher_cohort.Teacher_ID %>
</p>

<p>
  <strong>Cohort id:</strong>
  <%= @teacher_cohort.Cohort_ID %>
</p>

<%= link_to 'Edit', edit_teacher_cohort_path(@teacher_cohort) %> |
<%= link_to 'Back', teacher_cohorts_path %>
