<p id="notice"><%= notice %></p>

<h1>COHORT</h1>

<table class="table table-hover">
  <thead>
    <div class="row" style="border: 1px solid black;"></div>
    <tr>
      <th>NAME</th>
      <th>START</th>
      <th>END</th>
      <th>COURSE ID</th>
      <th>STUDENT ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= cohort.Name %></td>
        <td><%= cohort.Start_Date %></td>
        <td><%= cohort.End_Date %></td>
        <td><%= cohort.Course_ID %></td>
        <td><%= cohort.Student_ID %></td>
        <td><%= link_to 'Show', cohort %></td>
        <td><%= link_to 'Edit', edit_cohort_path(cohort) %></td>
        <td><%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cohort', new_cohort_path, class: 'btn btn-warning btn-xs'%>
