<p id="notice"><%= notice %></p>

<p>
  <strong>NAME:</strong>
  <%= @cohort.Name %>
</p>

<p>
  <strong>START DATE:</strong>
  <%= @cohort.Start_Date %>
</p>

<p>
  <strong>END DATE:</strong>
  <%= @cohort.End_Date %>
</p>

<p>
  <strong>COURSE ID:</strong>
  <%= @cohort.Course_ID %>
</p>

<p>
  <strong>STUDENT ID:</strong>
  <%= @cohort.Student_ID %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort), class: 'btn btn-success btn-xs'   %> |
<%= link_to 'Back', cohorts_path, class: 'btn btn-info btn-xs'   %>
