<p id="notice"><%= notice %></p>

<p>
  <strong>USERNAME:</strong>
  <%= @admin.Username %>
</p>

<p>
  <strong>PASSWORD:</strong>
  <%= @admin.Password %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) , class: 'btn btn-warning btn-xs'  %> 
<%= link_to 'Back', admins_path , class: 'btn btn-info btn-xs'  %>
