<p id="notice"><%= notice %></p>

<h1>STUDENT COHORTS</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>STUDENTS ID</th>
      <th>COHORT ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_cohorts.each do |student_cohort| %>
      <tr>
        <td><%= student_cohort.Student_ID %></td>
        <td><%= student_cohort.Cohort_ID %></td>
        <td><%= link_to 'Show', student_cohort %></td>
        <td><%= link_to 'Edit', edit_student_cohort_path(student_cohort) %></td>
        <td><%= link_to 'Destroy', student_cohort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Cohort', new_student_cohort_path, class: 'btn btn-success btn-xs'   %>
