<p id="notice"><%= notice %></p>

<p>
  <strong>Student id:</strong>
  <%= @student_cohort.Student_ID %>
</p>

<p>
  <strong>Cohort id:</strong>
  <%= @student_cohort.Cohort_ID %>
</p>

<%= link_to 'Edit', edit_student_cohort_path(@student_cohort) %> |
<%= link_to 'Back', student_cohorts_path %>
