<p id="notice"><%= notice %></p>

<p>
  <strong>FIRST NAME:</strong>
  <%= @student.First_Name %>
</p>

<p>
  <strong>LAST NAME:</strong>
  <%= @student.Last_Name %>
</p>

<p>
  <strong>AGE:</strong>
  <%= @student.Age %>
</p>

<p>
  <strong>EDUCATION:</strong>
  <%= @student.Education %>
</p>

<%= link_to 'Edit', edit_student_path(@student), class: 'btn btn-success btn-xs'   %> 
<%= link_to 'Back', students_path, class: 'btn btn-info btn-xs'  %>
