<p id="notice"><%= notice %></p>

<h1>TEACHERS</h1>

<table class="table table-hover">
  <thead>
    <div class="row" style="border: 1px solid black;"></div>
    <tr>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>AGE</th>
      <th>EDUCATION</th>
      <th>SALARY</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.First_Name %></td>
        <td><%= teacher.Last_Name %></td>
        <td><%= teacher.Age %></td>
        <td><%= teacher.Education %></td>
        <td><%= teacher.Salary %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher', new_teacher_path, class: 'btn btn-success btn-xs'  %>
