<p id="notice"><%= notice %></p>

<p>
  <strong>TITLE:</strong>
  <%= @course.Title %>
</p>

<p>
  <strong>HOURS:</strong>
  <%= @course.Hours %>
</p>

<%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-success btn-xs'   %> |
<%= link_to 'Back', courses_path, class: 'btn btn-info btn-xs'   %>
