<!DOCTYPE html>
<html>
  <head>
    <title>Jcsdsed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="main-container" class="container" style="background-color: #d69f7e;">
      <div class="row">
        <div class="col-xs-3">
          <h3>Jacques Cousteau School of Deep Sea Exploratory Diving</h3>
        </div>
        <div class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
